body {
  box-sizing: border-box;
  margin: 0;
  background-color: black;
  padding: 0;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin: 50px 0px;
}

table, td {
  border: 1px solid;
  border-style:ridge  ;
}

th {
  background-color: goldenrod;
}

